.rotation-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    flex-direction: column;
}
.rotation-gallery .image-rotation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.rotation-gallery .image-rotation img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.rotation-gallery .rotation-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
}

.rotation-gallery .rotation-loader > span {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: .3;
    }
  }